@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,700;0,800;1,400;1,500;1,600;1,700") 
* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f8f8f8;
	padding-top: 20px;
	padding-left: 20px;
}

:root {
	--gradient: linear-gradient(to right, #e2336b, #fcac46);
}

.sidebar {
	position: fixed;
	width: 350px;
	height: 100vh;
	background: w#f8f8f8;
	z-index: 2;
}

.main-home {
	position: absolute;
	width: calc(600%);
	top: 0;
	left: 350px;
	background-attachment: #fff;
	border-radius: 1rem;
	border: 1rem 0 0 1rem;
	z-index: 1000;
}

.logo img {
	width: 140px;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1.4rem;
}

.profile-img {
	display: flex;
	object-fit: cover;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 3px solid #e2336b;
	border-radius: 50%;
}

.profile-img img {
	width: 70px;
	height: 70px;
	object-fit: cover;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	object-position: center;
}

.name {
	display: flex;
	align-items: center;
	margin: 2rem 0 0 2rem;
}

.name h1 {
	font-size: 2rem;
	padding-right: 15px;
}

.name img {
	margin-left: 2px;
	width: 30px;
	object-fit: left;
}

.profile-img span {
	font-size: 0.938rem;
	font-weight: 400;
}

.about {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1rem;
}

.box {
	display: inline-flex;
	list-style: none;
	align-items: right;
	flex-direction: column;
	text-align: center;
	padding: 30px;
}

.box h3 {
	font-size: 1rem;
	font-weight: 400;
}

.box span {
	font-size: 0.938rem;
	font-weight: 400;
}

.menu a {
	padding-left: 22px;
	width: 100%;
	font-size: 1rem;
	color: #000;
	display: flex;
	align-items: center;
	line-height: 40px;
}

.menu a:hover,
.menu .active {
	color: #e2336b;
}

.menu .icon {
	margin-right: 1rem;
	font-size: 25px;
}

.menu a:hover::before,
.menu .active::before {
	content: "";
	position: absolute;
	right: 0;
	width: 2px;
	height: 17px;
	background: #e2336b;
}

.main-home {
	padding: 20px;
	overflow: hidden;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search {
	display: flex;
	align-items: center;
	background: #f8f8f8;
	width: 200px;
	height: 2.4rem;
	padding: 10px;
	border-radius: 10px;
}

.search input {
	border: none;
	outline: none;
	background: transparent;
	margin-left: 7px;
}

.search o {
	font-size: 20px;
}

.header-content {
	display: flex;
	align-items: center;
}

.header-content i {
	color: black;
	font-size: 20px;
	margin-left: 1rem;
}

.header-content.btn {
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 8px;
	background: var(--gradient);
	margin-left: 1rem;
}

.header-content .btn i {
	color: hsla(0, 0%, 100%, 0.6);
	margin-right: 30px;
}

.btn-text {
	color: black;
}

/* STORIES */
.stories-title {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 2px;
}

.stories-title h1 {
	font-size: 1.8px;
}

.stories-title h1 {
	font-size: 1.8px;
}

.stories-title .btn {
	display: flex;
	align-items: center;
	color: black;
}

.stories-title .btn i {
	font-size: 24px;
	margin-right: 20px;
}

.stories {
	display: flex;
	align-items: right;
	justify-content: space-between;
	margin-top: 2px;
}

.stories-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid rgb(228, 57, 57);
}

.stories-img img {
	width: 70px;
	height: 70px;
	object-fit: cover;
	border-radius: 50%;
	object-position: center;
}

.stories-img .color {
	border: 2px solid white;
}

.stories-img .add {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	color: #fff;
	background: hsla(246, 100%, 67%, 0.7);
}

.feed {
	display: flex;
	align-items: right;
	justify-content: center;
	margin-top: 1rem;
}

.feed h1 {
	font-size: 1.7rem;
}

.feed-text {
	display: flex;
	align-items: center;
}

.feed-text h2 {
	font-size: 1rem;
	margin-top: 1rem;
	padding-left: 160rem;
}

.feed-text span {
	font-size: 1rem;
	margin-top: 1rem;
	padding-left: 1rem;
}

.main-post {
	display: grid;
	align-items: right;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 11px;
}

.post-box {
	width: 500px;
}

.post-box img {
	width: 100%;
	height: 600px;
	align-items: right;
	object-fit: cover;
	border: 1px solid black;
	border-radius: 0.5rem;
}

.post-info {
	display: flex;
	align-items: right;
	justify-content: space-between;
}
.post-img {
	display: flex;
	align-items: right;
	justify-content: center;
	width: 35px;
	height: 35px;
}

.post-img img {
	width: 27px;
	height: 27px;
	object-fit: cover;
	border-radius: 50%;
	object-position: center;
}

.post-profile {
	display: flex;
	align-items: center;
}

.post-profile h3 {
	font-size: 12px;
	font-weight: 600px;
	margin-left: 5px;
}

.likes {
	display: flex;
	align-items: center;
}

.likes i {
	font-size: 20px;
	margin-left: 7px;
}

.likes span {
	font-size: 14px;
	margin-left: 7px;
}
